<a href="https://colab.research.google.com/github/GuidoGuarda/textminingweek/blob/main/aulaapi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula API´s

# API POKEMON

In [ ]:
import requests

url = "https://pokeapi.co/api/v2/pokemon/ditto"

response = requests.get(url)
print(response)

if response.status_code == 200:
    data = response.json()

    print(f"Nome: {data['name']}")
    print(f"ID: {data['id']}")
    print(f"Altura: {data['height']}")
    print(f"Peso: {data['weight']}")

    print("Tipos:")
    for tipo in data['types']:
        print(f"- {tipo['type']['name']}")
else:
    print(f"Erro {response.status_code}: Não foi possível obter os dados")

<Response [200]>
Nome: ditto
ID: 132
Altura: 3
Peso: 40
Tipos:
- normal

# API THE DOG

In [ ]:
import requests

api_key = 'live_fSQXLhiKoZiFxjAmrP9piZ8vbbvaS8CfclVEkjJTWlWI0JXtVI5fbDyGqrwstAmw'

url = f"https://api.thedogapi.com/v1/images/search?api_key={api_key}"
response = requests.get(url)
print(response.text)
#tratando dados
data = response.json()
print(data[0]['url'])

[{"breeds":[{"weight":{"imperial":"23 - 28","metric":"10 - 13"},"height":{"imperial":"15.5 - 20","metric":"39 - 51"},"id":111,"name":"Finnish Spitz","bred_for":"Hunting birds, small mammals","breed_group":"Non-Sporting","life_span":"12 - 15 years","temperament":"Playful, Loyal, Independent, Intelligent, Happy, Vocal","reference_image_id":"3PjHlQbkV"}],"id":"jPiMLwaJh","url":"https://cdn2.thedogapi.com/images/jPiMLwaJh.jpg","width":665,"height":644}]
https://cdn2.thedogapi.com/images/jPiMLwaJh.jpg

# API THE CAT

In [ ]:
import requests

api_key = 'live_fSQXLhiKoZiFxjAmrP9piZ8vbbvaS8CfclVEkjJTWlWI0JXtVI5fbDyGqrwstAmw'

url = f"https://api.thecatapi.com/v1/images/search?api_key={api_key}"
response = requests.get(url)
print(response.text)
#tratando dados
data = response.json()
print(data[0]['url'])

[{"id":"akb","url":"https://cdn2.thecatapi.com/images/akb.jpg","width":729,"height":1097}]
https://cdn2.thecatapi.com/images/akb.jpg

# API NASA

In [ ]:
from IPython.display import Image, display
import requests
#Chave da API
api_key = "93XcsvH8dQRboSblD1V7Qcs1uuyMciUcSTVhtcM5"
#Rota da API
endpoint = "/planetary/apod"
#Deifinindo URL
url = f"https://api.nasa.gov{endpoint}?api_key={api_key}"

response = requests.get(url).json()

imagem_url = response['url']
display(Image(url=imagem_url))

#tratando dados
print(f"URL da imagem: {response['url']}")
print(f"Título da imagem: {response['title']}")
print(f"Descrição da imagem: {response['explanation']}")

URL da imagem: https://apod.nasa.gov/apod/image/2409/NightTatra_Rosadzinski_960.jpg
Título da imagem: A Night Sky over the Tatra Mountains
Descrição da imagem: A natural border between Slovakia and Poland is the Tatra Mountains. A prominent destination for astrophotographers, the Tatras are the highest mountain range in the Carpathians. In the featured image taken in May, one can see the center of our Milky Way galaxy with two of its famous stellar nurseries, the Lagoon and Omega Nebula, just over the top of the Tatras. Stellar nurseries are full of ionized hydrogen, a fundamental component for the formation of Earth-abundant water. As a fundamental ingredient in all known forms of life, water is a crucial element in the Universe. Such water can be seen in the foreground in the form of the Bialka River.   Portal Universe: Random APOD Generator

# API STAR WARS

In [ ]:
# Definindo endpoit
endpoint = '/people'
# Definindo URL da API
url = f"https://swapi.dev/api{endpoint}"
# Fazendo a arequisição
response = requests.get(url).json()
# Iterando no dicionário retornado
for pessoa in response['results']:
  # Tratando dados
    print('='*40)
    print(f"Nome: {pessoa['name']}")
    print(f"Genero: {pessoa['gender']}")
    print(f"Altura: {pessoa['height']} cm")
    print(f"Peso: {pessoa['mass']} kg")
    print("Participação nos filmes: ")
    for filme_url in pessoa['films']:
        response_filme = requests.get(filme_url).json()
        print(f"- {response_filme['title']}")

    print("Veículos: ")
    for veiculo_url in pessoa['vehicles']:
        response_veiculo = requests.get(veiculo_url).json()
        print(f"- {response_veiculo['name']}")

========================================
Nome: Luke Skywalker
Genero: male
Altura: 172 cm
Peso: 77 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- Revenge of the Sith
Veículos:
- Snowspeeder
- Imperial Speeder Bike
========================================
Nome: C-3PO
Genero: n/a
Altura: 167 cm
Peso: 75 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- The Phantom Menace
- Attack of the Clones
- Revenge of the Sith
Veículos:
========================================
Nome: R2-D2
Genero: n/a
Altura: 96 cm
Peso: 32 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- The Phantom Menace
- Attack of the Clones
- Revenge of the Sith
Veículos:
========================================
Nome: Darth Vader
Genero: male
Altura: 202 cm
Peso: 136 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- Revenge of the Sith
Veículos:
========================================
Nome: Leia Organa
Genero: female
Altura: 150 cm
Peso: 49 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- Revenge of the Sith
Veículos:
- Imperial Speeder Bike
========================================
Nome: Owen Lars
Genero: male
Altura: 178 cm
Peso: 120 kg
Participação nos filmes:
- A New Hope
- Attack of the Clones
- Revenge of the Sith
Veículos:
========================================
Nome: Beru Whitesun lars
Genero: female
Altura: 165 cm
Peso: 75 kg
Participação nos filmes:
- A New Hope
- Attack of the Clones
- Revenge of the Sith
Veículos:
========================================
Nome: R5-D4
Genero: n/a
Altura: 97 cm
Peso: 32 kg
Participação nos filmes:
- A New Hope
Veículos:
========================================
Nome: Biggs Darklighter
Genero: male
Altura: 183 cm
Peso: 84 kg
Participação nos filmes:
- A New Hope
Veículos:
========================================
Nome: Obi-Wan Kenobi
Genero: male
Altura: 182 cm
Peso: 77 kg
Participação nos filmes:
- A New Hope
- The Empire Strikes Back
- Return of the Jedi
- The Phantom Menace
- Attack of the Clones
- Revenge of the Sith
Veículos:
- Tribubble bongo

# API TRIVIA

In [4]:
# Definindo URL da API
url = "https://opentdb.com/api.php?amount=10"
# Importando o módulo requests
import requests
# FAzendo a requisição
response = requests.get(url).json()
# Iterando no dicionário retornado
for pergunta in response['results']:
   print(f"Pergunta: {pergunta['question']}")

Pergunta: Minecraft wasn&rsquo;t the original name to Minecraft.
Pergunta: The song &#039;Little April Shower&#039; features in which Disney cartoon film?
Pergunta: What is the maximum level you can have in a single class in Dungeons and Dragons (5e)?
Pergunta: Which country has the union jack in its flag?
Pergunta: What is the birth name of Michael Keaton?
Pergunta: HTML is what type of language?
Pergunta: In 2015, David Hasselhof released a single called...
Pergunta: On which planet does the game Freedom Planet (2014) take place?
Pergunta: Which of these Marvel games was released on the Playstation 2?
Pergunta: &quot;27 Club&quot; is a term used to refer to a list of famous actors, musicians, and artists who died at the age of 27.

# Aula API concluída!!